* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: crimson;

    & main {
        font-style: normal;
        font-weight: 700;

        & div {
            display: flex;
            height: 100px;
            width: 100vw;
            color: whitesmoke;
            border: 1px dashed whitesmoke;
            
            & span {
                text-align: center;
                font-size: 3rem;
                color: black;
                background-color: yellow;
            }
        }
    }
}

header {
    background-color: black;
    color: crimson;
    height: 150px;
    text-align: center;
    width: 100vw;
    /* grid layout */
    display: grid;
    grid-template-areas:
        "titulo-1"
        "titulo-2"
        "subtitulo";
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: start;
    padding-left: 20px;

    & div {
        & h1 {
            text-transform: uppercase;
            font-weight: normal;

            .underline {
                text-decoration: solid underline 2px whitesmoke;
            }
        }
    }

    &:first-child {
        grid-area: titulo-1;
    }
    &:last-child {
        grid-area: titulo-2;
    }

    & h2 {
        font-size: 1.3rem;
        grid-area: subtitulo;
        letter-spacing: 0.2rem;

        & .oculto {
            color: transparent;

            &:hover {
                color: yellow;
            }
        }
    }
}

/* media queries */

@media screen and (min-width: 1024px) {
    /* CORREGIR TITULO PARA QUE SE VEA EN LINEA */
}
