* {
    margin: 0;
    padding: 0;
}

main {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
}
header {
    height: 150px;
    width: 100vw;
    text-align: center;
    background-color: red;

    .underline {
        text-decoration: solid underline 2px whitesmoke;
    }
    & h1 {
        font-size: 3rem;
        font-weight: normal;
        letter-spacing: 0.8rem;
        line-height: 80px;
        text-transform: uppercase;
    }
    & h2 {
        letter-spacing: 0.2rem;
    }
}

section {
    div {
    }
}
